*{
    padding: 0px;
    margin: 0px;

}
.main-nav{
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}
.parent1{
    padding: 10px 20px;
    /* background-color: skyblue; */
    margin-left: 30px;
}
.parent2{
    display: flex;
    
}
.p2-box{
    padding: 20px 20px;
    /* background-color: skyblue; */
    font-size: 20px;
}
.p2-box a{
    text-decoration: none;
    color: black;
}
.back-img{
    height: 350px;
    width: 100%;
    background-image: url(page-title.png);
    background-size: cover;
    background-position-x: -500px;

}
.about-head{
    margin-top: 200px;
    margin-left: 50px ;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.content1{
    font-size: 20px;
    color: white;
}
.span{
    color: rgb(187, 180, 180);
}
.vector{
    margin-top: 90px;
    margin-left: 550px;
}
.glimps{
    margin-top: 20px;
    margin-left: 430px;
}
.glimps p{
    font-size: 30px;
    color: red;
}
.glimps-para{
    margin-top: 20px;
    margin-left: 300px;
    color: gray;
}
.line-img1{
    height: 250px;
    width: auto;
    margin: 30px 50px ;
    /* background-color: gray; */
    display: flex;
}
.glimp-img1{
    height: 250px;
    width: 33%;
   margin-left: 20px;
   margin-right: 20px;
    /* background-color: red; */
}
.glimp-img1 img{
    height: 100%;
    width: 100%;
}
.name{
    margin-top: 10px;
    margin-left: 20px;
}
.wedding{
    margin-top: 5px;
    margin-left: 20px; 
    color: gray;
}
.line-img2{
    margin: 80px 50px;
    height: 250px;
    width: auto;
    /* background-color: gray; */
    display: flex;
}
.glimp-img2{
    height: 250px;
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: red; */
}
.glimp-img2 img{
    height: 100%;
    width: 100%;
}
.red-patta{
    height: 200px;
    width: auto;
    background-color: red;
    margin-top: 40px;
    display: flex;
}
.patta1{
    height: 200px;
    width: 25%;
    /* background-color: grey; */
}
.patta1 img{
    margin-left: 160px;
}
.patta2{
    height: 200px;
    width: 50%;
    /* background-color: yellow; */
}
.patta2-div{
    margin: 80px 50px;
    background-color: red;
    box-shadow: 0px 0px 50px -20px black;
}
.patta2-div p{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px 30px;
}
.patta3{
    height: 200px;
    width: 25%;
    /* background-color: grey; */
}
.patta3 img{
    height: 100%;
    width: 100%;
}
.last-para{
    height: 300px;
    width: auto;
    /* background-color: gray; */
    margin: 30px 30px;
    display: flex;
}
.last-para1{
    height: 250px;
    width: 20%;
    margin: 20px 20px;
  /* background-color: red; */
  padding: 10px 10px;
    
}
.folow1{
    text-align: center;
    margin-top: 10px;
}
.folow2{
    display: flex;
    
}
.f1{
    margin: 20px 25px;
}
.last-para2{
    height: 250px;
    width: 20%;
    margin: 20px 20px;
    /* background-color: red; */
    padding: 10px 10px;
}
.last-para2 h2{
    text-align: center;
}
.last-para2 h4{
    text-align: center;
    margin-top: 10px;
}
.last-para2 p{
    text-align: center;
    margin-top: 10px;
}
.email{
    text-align: center;
    margin-right: 30px;

}
.e-p{
    margin-left: 38px;
}
.address{
    margin-top: 15px;
}
.ad-click{
    margin-left: 30px;
}
.last-para3{
    height: 250px;
    width: 20%;
    margin: 20px 20px;
    /* background-color: red; */
    padding: 10px 10px;
}
.last-para3 h2{
    text-align: center;
}
.latest-work1{
    height: 100px;
    width: auto;
    /* background-color: blue; */
    display: flex;
}
.mohit-img{
    height: 100px;
    width: 50%;
}
.mohit-img img{
    height: 100%;
    width: 100%;
}
.latest-work1 p{
    margin-top: 40px;
   padding-left: 4px;
   margin-right: 4px;
}
.latest-work2{
    height: 100px;
    width: auto;
    /* background-color: blue; */
    display: flex;
    margin-top: 10px;
}
.twinkal-img{
    height: 100px;
    width: 55%;
}
.twinkal-img img{
    height: 100%;
    width: 100%;
}
.latest-work2 p{
    margin-top: 30px;
    text-align: center;
}
.last-para4{
    height: 250px;
    width: 20%;
    margin: 20px 20px;
    /* background-color: red; */
    padding: 10px 10px;
}   
 .map{
    height: 220px;
    width: auto;
 }
 .map iframe{
    height: 100%;
    width: 100%;
 }
 .footer{
    height: 80px;
    width: auto;
    background-color: black;
    display: flex  ;
}
.b1{
    color: rgb(143, 138, 138);
    margin-right: 20px;
}
.b2{
    color: rgb(212, 198, 198);
    margin-left: 40px;
}
.a2{
    margin: 20px 20px;
    display: flex;
    text-align: center;
    margin-left: 300px;
    
}
.b2:hover{
    color: white;
}
